{{ $coll := .Site.GetPage "hero" }}

<header>
  <div class="header-logo">
    <a href="/">{{ $coll.Params.site_title }}</a>
  </div>

  <a id="header-menu-trigger" href="#0">
    <span class="header-menu-text">Menu</span>
    <span class="header-menu-icon"></span>
  </a>

  <nav id="menu-nav-wrap">

    <a href="#0" class="close-button" title="close"><span>Close</span></a>

    <h3>{{ $coll.Params.site_title }}.</h3>

    <ul class="nav-list">
      {{ range $coll.Params.nav_items }}
        {{ if .isCurrent }}
        <li class="current"><a class="smoothscroll" href="{{ .url }}" title="{{ .title }}">{{ .title }}</a></li>
        {{ else }}
        <li><a class="smoothscroll" href="{{ .url }}" title="{{ .title }}">{{ .title }}</a></li>
        {{end }}
      {{ end }}
    </ul>

    <p class="sponsor-text-nav">
      {{ $coll.Params.sponsor_text | safeHTML }}
    </p>

    <ul class="header-social-list">
      {{ range $coll.Params.social_icons }}
      <li>
        <a href="{{ .url }}"><i class="{{ .class }}"></i></a>
      </li>
      {{ end }}
    </ul>

  </nav> <!-- end #menu-nav-wrap -->

</header> <!-- end header -->