<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="sans-serif">

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
  </body>

  {{ $main := resources.Get "vendor-js/main.js" }}
  {{ $vendors := readDir "assets/vendor-js" }}
  {{ range $vendors }}
    {{ $component := resources.Get (printf "vendor-js/%s" .Name) }}
  {{ $main = slice $component $main | resources.Concat .Name}}
  {{ end }}
  <script src="{{ $main.Permalink }}"></script>
</html>
