{{ define "main" }}

<div class="test">
  <div class="test__grid">
    {{ range $index, $element := .Params.intro.items }}
    <div class="item">
      <a href="{{ $element.link }}"
        class="masonry-card">
        <picture>
          <source media="(max-width: 767px)"
            srcset="{{ $element.image }}?nf_resize=smartcrop&amp;w=750&amp;h=869">
          <source media="(min-width: 768px)"
            srcset="{{ $element.image }}?nf_resize=smartcrop&amp;w=545&amp;h=570">
          <img class="masonry-card__thumb"
            src="{{ $element.image }}" alt=""></picture>
        <div class="masonry-card__title">{{ $element.title }}</div>
        <div class="button">{{ $element.btnText }}</div>
      </a>
    </div>
    {{ end }}
  </div>
</div>

<div class="pages">
  {{ range .CurrentSection.Pages }}
  <a href="{{ .Permalink }}">{{ .Title }}</a> 
  {{ end }}
</div>


<div class="mw7 center pt3 mb4">
  <form
    action="/test"
    name="test"
    novalidate
    data-netlify="true">
 
    <div class="flex-l mhn1-l">
      <!-- Name -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
          <label for="name">Name</label>
        </fieldset>
      </div>
      <!-- Email -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

    <!-- Message -->
    <fieldset>
      <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80" class="w-100"></textarea>
      <label for="message">Your message</label>
    </fieldset>
    <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>
</div>

{{ end }}