.link {
  text-decoration: none;
  transition: var(--hover-transition);
  color: inherit;

  &:link, &:visited {
    transition: color .15s ease-in;
  }

  &:hover {
    transition: color .15s ease-in;
    text-decoration: underline;
  }

  &:active {
    transition: color .15s ease-in;
  }

  &:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
  }
}